* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: darkgrey;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 3rem auto;
  border-radius: 10px;
  width: 70%;
  background-color: lightblue;
}

h1 {
  margin: 2rem 0 3rem 0;
  letter-spacing: 5px;
  border-bottom: 1px solid;
}
.label-div {
  margin: 1rem 0 3rem 2rem;
}

.label-div input {
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  gap: 50px;
  position: absolute;
  left: 50%;
}
.label-div input:hover {
  border: 1px solid;
  background-color: lightgray;
  transition: 0.3s;
}

.label-div label {
  font-size: 1.3rem;
  font-weight: 700;
  padding-right: 1rem;
  position: absolute;
  right: 50%;
}
input::placeholder {
  position: absolute;
  right: 30px;
}
button {
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 2rem 0 3rem 0;
  font-size: 1.3rem;
  width: 50%;
}
button:hover {
  background-color: lightgray;
  transition: 0.3s;
  color: white;
}

.list-element {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.list-element p {
  padding: 7px;
}
.loan-amount,
.interest-rate,
.repayment,
.monthly-payment,
.total-remain {
  border-radius: 5px;
  text-align: center;
  background-color: wheat;
}

tr {
  display: flex;
  gap: 20px;
}
th {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(147, 171, 106);
}

td {
  padding: 0 3.5rem;
  gap: 2rem;
}
